* {
    margin: 0;
    padding: 0;
}



html {
    font-size: 62.5%;
}

@media only screen and (max-width: 80rem) {
    html {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    padding: 5rem 30rem;
}

.grid-container {
    display: grid;
    gap: 1rem;
    background-color: #df3457;
    padding: 1rem;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;

}

.item2 {
    
grid-column: 3;
    /* The "3" refers to the *lines* */
    grid-row: 1 / 3;
}